<ion-view view-title="Reporting Sales">
    <ion-content class="padding">
        <h4 class="border-top">
        <i class="icon ion-stats-bars"></i>
        Reporting Sales
        </h4>
        <div class="list card">
                <div class="item item-body">
                    <highchart config="chartPie" class="Chartcenter"></highchart>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a data-ink-opacity="0.5" data-ink-color="#336699" class="tab-item">
                        <i class="icon ion-thumbsup"></i> Like
                    </a>
                    <a data-ink-opacity="0.5" data-ink-color="#336699" class="tab-item">
                        <i class="icon ion-chatbox"></i> Comment
                    </a>
                    <a data-ink-opacity="0.5" data-ink-color="#336699" class="tab-item">
                        <i class="icon ion-share"></i> Share
                    </a>
                </div>
            </div>
        
        <!-- Pie chart-->

    </ion-content>
</ion-view>