<ion-header-bar class="bar-stable bar-calm">
	<div class="buttons">
	    <button class="button" ng-click="doSomething()">Left Button</button>
	  </div>
	  <h1 class="title">Title!</h1>
	  <div class="buttons">
	    <button class="button">Right Button</button>
	  </div>
</ion-header-bar>
<ion-content class="padding">
	<ul class="list">
	  <a class="item item-thumbnail-left" ng-repeat="item in items" href="#/read/{{item.id}}" >
	  	<img ng-src="{{item.image}}" alt="">
	    <span class="row responsive-sm item-text-wrap">{{item.title}}</span>
	  </a>
	</ul>
	<ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-content>