<ion-header-bar class="bar bar-header bar-light">
        <button class="button button-icon icon ion-ios7-arrow-left" ng-click="back();">Back</button>
        <h1 class="title"><img class="title-image" src="../img/logo.png" /></h1>
</ion-header-bar>
<ion-view ng-repeat="item in items" view-title="{{item.title}}">
  <ion-content class="padding" style="top:50px;">
    <img ng-src="{{item.image}}" style="width: 100%;">
    <span class="item-channel">{{item.channel}}</span>
    <span class="item-publish">{{item.publish}}</span>
	<h2 class="row responsive-sm item-text-wrap item-title">{{item.title}}</h2>
    <div class="row responsive-sm item-text-wrap item-content" ng-bind-html="item.content"></div>
  </ion-content>
</ion-view>