/* Empty. Add your own CSS if you like */
.list-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.list-item.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

.title-image {
    margin-top: 8px;
    height: 30px;
}

.item-channel {
	color: #E91A1A;
	margin-left: 5px;
}

.item-title {
	color: #3E3939;
	margin-top: 5px;
	border-bottom: 1px solid #519FF2;
}

.item-publish {
	color: #8B8484;
	font-size: 11px;
	margin-left: 5px;
}

.item-content {
	color: #332F2F;
}