<ion-modal-view>
  <ion-header-bar class="bar-assertive" align-title="center">
    <h1 class="title">Change Password</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-close" ng-click="closeChange()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doChange()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password Lama</span>
          <input type="password" ng-model="changeData.lama" placeholder="Password Yang sekarang">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password Baru</span>
          <input type="password" ng-model="changeData.baru" placeholder="Password Baru">
        </label>
        <label class="item">
          <button class="button button-block button-positive icon ion-log-in" type="submit"> Ubah Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
